.Calendar {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    text-align: center;
    width: 320px;
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    border: 2px solid hsl(43, 17%, 84%);
}

.calendarHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-family: "Inter", sans-serif;
    color: hsl(216, 14%, 15%);
    font-weight: bold;
}

.calendarHeader>button {
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 22px;
    color: hsl(208, 80%, 23%);
}

.calendarButtons button {
    height: 42px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}

.calendarHeader h1 {
    margin: 0;
    font-size: 16px;
}

.Days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.Day {
    border: none;
    width: 35px;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.Day.Sunday {
    color: red;
}

.CalendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.DateCell {
    min-height: 35px;
    width: 35px;
    border: 1px solid hsl(43, 17%, 84%);
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 11px;
    color: hsl(216, 14%, 15%);
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.DateCell.previous {
    color: rgb(124, 124, 124);
}

.DateCell.available::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(59, 130, 246, 0.25);
    z-index: 0;
}

.DateCell .DateNumber {
    position: relative;
    z-index: 1;
}

.DateCell.today {
    color: hsl(233, 100%, 50%);
}

.DateCell.selected {
    background-color: hsl(217, 91%, 60%);
    color: white;
}